beautifulsoup4==4.9.3
click==7.1.2
filelock==3.0.12
goodlogging==1.0.1
joblib==1.0.1
lxml==4.6.3
numpy==1.20.2
packaging==20.9
pyparsing==2.4.7
rarfile==2.7
regex==2021.4.4
requests==2.6.0
sacremoses==0.0.44
six==1.15.0
soupsieve==2.2.1
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.5.1
typing-extensions==3.7.4.3